{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
  <section class="parallax-container">
    <div class="parallax">
      <img src="https://joashpereira.com/templates/material_one_pager/img/parallax1.png" style="transform: translate3d(-50%, 153px, 0px); display: block;">
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3>Últimas rutas</h3>
        <div class="grid">
          {% for entry in entries %}
            {% include "blog/_entry_card.html" with entry=entry %}
          {% endfor %}
        </div> <!-- Grid -->
      </div>
    </div>
  </div> <!--container-->

  <section class="parallax-container">
    <div class="parallax">
      <img src="https://joashpereira.com/templates/material_one_pager/img/parallax1.png" style="transform: translate3d(-50%, 153px, 0px); display: block;">
    </div>
  </section>

{% endblock %}
