*.pyc

# Various directory index, temp file and editor's config
*.DS_Store
.*.swp

# virtualenv
/venv

# project db
*.sqlite3


# Node.js
/node_modules/
/montrack/static/
/montrack/montrack/static/js/
/montrack/montrack/static/css/
/montrack/montrack/static/fonts/
/.sass-cache/
/montrack/media/
/montrack/track_files/
