
#sidenav-overlay{
  z-index: 995;
}

.container{
  max-width: 1000px;
}

.grid-item {
   width: 45%;
   &.double{
     width: 92%;
   }
}

@media #{$small-masonry}{
  .grid-item {width: 100%; }
}

.blog-detail{
  .author-container{
    margin-top:1rem;
  }

  .toc-wrapper{
    margin-top: 5rem;
  }
  .blog-title{
    background-color: rgba(grey, 0.5);
    color: white;
    text-align: center;
  }
  .carousel{
    margin-bottom: 2rem;
    .carousel-item {
      width: 500px;
      height: 500px;
    }
  }
}

.tack-data-preview{
  li{
    display: inline-block;
    margin-right: 1rem;
    i{
      float: left;
      margin-right: 5px;
    }
    span{
      float: left;
      line-height: 2rem;
    }
  }
}

.leaflet-container {
  height: 600px;
  width: 100%;
}