#sidenav-overlay{
  z-index: 995;
}

.container{
  max-width: 1000px;
}

.grid-item {
   width: 45%;
   &.double{
     width: 92%;
   }
}

@media #{$small-masonry}{
  .grid-item {width: 100%; }
}

.blog-detail{
  .author-container{
    margin-top:1rem;
  }

  .toc-wrapper{
    margin-top: 5rem;
  }
  .blog-title{
    background-color: rgba(grey, 0.5);
    color: white;
    text-align: center;
  }
  .carousel{
    margin-bottom: 2rem;
    .carousel-item {
      width: 500px;
      height: 500px;
    }
  }
}

.tack-data-preview{
  li{
    display: inline-block;
    margin-right: 1rem;
    i{
      float: left;
      margin-right: 5px;
    }
    span{
      float: left;
      line-height: 2rem;
    }
  }
}

.leaflet-container {
  height: 600px;
  width: 100%;
}

.elevation-chart-container{
  width: 100%;
  height: 200px;
}

.elevation-chart{
  .xAxis text {
    font-size: 8px;
  }

  .area{
    fill: #8bc34a;
    path {
      stroke:#8bc34a;
      stroke-width: 2;
    }
  }


  $tooltip-stroke: #999;
  .vert-line{
    path{
      stroke: $tooltip-stroke;
      stroke-width: 2;
    }
    rect{
      stroke: $tooltip-stroke;
    }
    text{
      font-size: 0.7rem;
      tspan .value{
        font-weight: bold;
      }
    }
  }
}