{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags humanize montracktags %}

{% block body_class %}blog-detail{% endblock %}

{% block content %}
  <section class="parallax-container">
    <div class="blog-title">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="parallax">
      {% image page.main_image original style="transform: translate3d(-50%, 153px, 0px); display: block;"%}
    </div>
  </section>
  <div class="content container ">
     <div class="row">
      <div class="col s12 m9 l10">
        <div class="row valign-wrapper author-container">
          <div class="col s1">
            <img width="80px" src="{% static 'images/avatar.jpg' %}" alt="avatar" class="circle responsive-img">
          </div>
          <div class="col s11">
            RyS<br/>
            {{ page.date }}
          </div>
        </div>

        <p class="meta"></p>
        <div>
        </div>

        {% if page.intro%}
          <h4 id="introduction" class="section scrollspy">Introducción</h4>
          {{ page.intro|richtext }}
        {% endif %}

        <h4 id="tech-data" class="section scrollspy">Datos de la Ruta</h4>
        <table class="striped">
          <tbody>
            <tr>

              <td><i class="small material-icons">settings_ethernet</i>{{page.track.distance | humanize_km | floatformat:2}} <abbr class="unit" title="kilometros">km.</abbr>
                  <i class="small material-icons">trending_up</i>{{page.track.uphill | intcomma}} <abbr class="unit" title="metros">m.</abbr>
                  <i class="small material-icons">vertical_align_top</i>{{page.track.max_elevation | intcomma}} <abbr class="unit" title="metros">m.</abbr>
                  <i class="small material-icons">history</i>{{page.track.moving_time| humanize_time}}
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>

        <h4 id="description" class="section scrollspy">Descripción</h4>
        {{ page.body|richtext }}

        <h4 id="gallery" class="section scrollspy">Galería de Fotos</h4>
        <div class="carousel">
          {% for item in page.gallery_images.all %}

            {% image item.image fill-800x800 as img %}
            {% image item.image width-950 as img_full %}
             <a class="carousel-item" href="{{img_full.url}}"> <img src="{{img.url}}" alt="{{ tmp_photo.alt }}"/></a>
          {% endfor %}
        </div>

        {% if page.tags.all.count %}
          <div class="tags">
              {% for tag in page.tags.all %}
              <div class="chip small"><a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a></div>
              {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="col hide-on-small-only m3 l2">
        <div class="toc-wrapper pin-top">
          <ul class="section table-of-contents">
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#tech-data">Datos de la Ruta</a></li>
            <li><a href="#description">Descripción</a></li>
            <li><a href="#gallery">Galería de fotos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/blog_detail.js' %}"></script>
{% endblock %}