{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}blog-index{% endblock %}

{% block content %}
  <section class="parallax-container">
    <div class="parallax">
      <img src="https://joashpereira.com/templates/material_one_pager/img/parallax1.png" style="transform: translate3d(-50%, 153px, 0px); display: block;">
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="grid">
          {% include "blog/_entry_card.html" with entry=last_entry class_width="double" %}

          {% for entry in entries %}
            {% include "blog/_entry_card.html" with entry=entry %}
          {% endfor %}
        </div> <!-- Grid -->
      </div>
    </div>
  </div>
{% endblock %}
