{% load static wagtailuserbar %}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}
          {% if site_name %}- {{ site_name }}{% endif %}
      {% endwith %}
    {% endblock %}
  </title>

  <!-- CSS  -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
  {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  <!--Navigation-->
  <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" id="logo-container" class="brand-logo">Montrack</a>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#intro">Blog</a></li>
            <li><a href="#work">Mapa</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a href="#intro">Blog</a></li>
            <li><a href="#work">Mapa</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  {% block content %}
  {% endblock %}

  <!--Footer-->
  <footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5 class="white-text">Lorem ipsum</h5>
          <ul>
            <li><a class="white-text" href="">Home</a></li>
            <li><a class="white-text" href="">Blog</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Social</h5>
          <ul>
            <li>
              <a class="white-text" href="https://twitter.com/">
                <i class="small fa fa-behance-square white-text"></i> Twitter
              </a>
            </li>
            <li>
              <a class="white-text" href="https://www.facebook.com/">
                <i class="small fa fa-facebook-square white-text"></i> Facebook
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright default_color">
      <div class="container">
        Thanks to <a class="white-text" href="http://materializecss.com/">materializecss</a>
      </div>
    </div>
  </footer>

  {# Global javascript #}
  <script type="text/javascript" src="{% static 'js/home.js' %}"></script>

  {% block extra_js %}
      {# Override this in templates to add extra javascript #}
  {% endblock %}
  </body>
</html>